---
// src/pages/achievements.astro
import MainLayout from '../layouts/MainLayout.astro';
import AchievementCard from '../components/achievements/AchievementCard.astro';
import { extractYml } from '../scripts/utilities';

// Load achievements data
const achievements = extractYml(await Astro.glob('/src/data/achievements.yml'));

// Layout variables
const pageInfo = {};
pageInfo['titlePrepend'] = 'Achievements';
pageInfo['description'] = 'Portfolio of my personal projects, works, and school life!';
pageInfo['tab'] = 'achievements';
---

<MainLayout pageInfo={pageInfo}>
    <div class="homepage">
        <h1 class="homepage-title">Achievements</h1>
        <div class="achievements-list">
            {achievements.map(achievement => (
                <AchievementCard {...achievement} />
            ))}
        </div>
    </div>
</MainLayout>

<style>
    .homepage {
        position: relative;
        min-height: 100vh;
        margin: auto;
        padding-top: 64px; /* Add padding to prevent content from being hidden behind the navbar */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .homepage-title {
        z-index: 10;
        font-size: 60px;
        text-align: center;
        pointer-events: none;
        margin-bottom: 20px;
    }

    .achievements-list {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 16px;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: white;
        z-index: 100;
    }
</style>